    body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: black;
      
    }

    .appBanner {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
      width: 30%;
    }

    .appBanner {
     width: 40%;

     .img1 {
       width: 100%;
     }

     .img2 {
       width: 95.3%;
       
     }

    }

    .bigWrapper {
      max-width: 1440px;
      background-color: black;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
    }

    .carousel-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .carousel-wrapper * {
      box-sizing: border-box;
    }

    .carousel {
      width: 80%;
      margin: 10px 30px;
      padding-bottom: 25px;
      padding-top: 20px;
      background: #f8f8f8;
      border-radius: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 150px;

      ul {
        border: 2px solid black;

        li {
          text-decoration: none;
          list-style-type: none;
        }
      }
    }

  

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; 

      p {
        width: 30%;
      }

      p, h2 {
        margin: 0px;
      }

      h2 {
        margin-top: 20px;
      }
    }

    #pokeInterface li img {
      width: 140px;
      text-align: center;
    }

    .card {
        display: none;
    }
    .card.is-visible {
        display: flex;
    }

    #pokeInterface2 .card {
      display: flex !important;
    }


    h2 {
      color: black;
    }

    /* BUTTONS */
    /* BUTTONS */
    /* BUTTONS */
    /* BUTTONS */

    .buttonFlex1, .buttonFlex2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    }

    .carousel__button--dislike,
    .carousel__button--like {
      width: 5rem;
      height: 5rem;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid black;
    }

    .carousel__button--like {
      padding: 0px 20px;
    }

    .carousel__button--dislike {
      padding: 0px 20px;
    }

    .carousel i {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      left: 54%;
    }

    .fas.fa-heart {
      font-size: 2rem;
      top: 114.3%;
      left: 46.1%;
      color: #26e7c7;
    }

    .fas.fa-times {
      font-size: 2.6rem;
      top: 113.4%;
      left: 51.9%;
      color: #fd5365;
    }

    footer {
      padding-bottom: 60px;
      padding-top: 20px;
      text-align: center;

      a {
        text-decoration: none;
        font-size: 3rem;
        color: orangered;
      }
    }

    // SECOND CAROUSEL

    .carousel2 {
      width: 80%;
      margin: 10px 30px;
      padding-bottom: 25px;
      padding-top: 40px;
      background: #f8f8f8;
      border-radius: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 150px;
    }

        // MEDIA QUERIES
        // MEDIA QUERIES
        // MEDIA QUERIES

    @media (max-width: 640px) {
      
      .carousel {
        background-color: red;
      }
      
      .bigWrapper {
        max-width: 800px;
        min-width: 450px;
      }
    }


